In [1]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, plotly.express as px, seaborn as sns

In [2]:
test_df = pd.read_csv('Dataset/fraudTest.csv').set_index("Unnamed: 0")
test_df.sample(5)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
270952,2020-09-29 12:39:01,573860193545,fraud_Kerluke-Abshire,shopping_net,512.61,Cristian,Jones,M,0423 Kirby Field Suite 623,Wilmette,...,42.0765,-87.7246,27020,Trade mark attorney,1986-07-23,eea2d1786423f1dafc23aa0f8fc28d07,1380458341,41.614352,-87.536355,0
128660,2020-08-04 19:19:47,4761403817546679245,fraud_Beier-Hyatt,shopping_pos,1.40,Diana,Jacobs,F,69608 Perez Mountain Apt. 006,Viola,...,36.3924,-91.9932,1679,Psychiatric nurse,1986-05-02,97a8f9d194fec7953f71c8291dbd2674,1375643987,37.188700,-92.849044,0
516324,2020-12-22 19:06:04,4512828414983801773,fraud_Schmidt and Sons,shopping_net,2.82,Monica,Cohen,F,864 Reynolds Plains,Uledi,...,39.8936,-79.7856,328,Tree surgeon,1983-07-25,70b04a4ed45cc8718fcac8f6877367c9,1387739164,40.695061,-78.974459,0
332532,2020-10-26 17:58:51,573860193545,fraud_Ullrich Ltd,kids_pets,17.47,Cristian,Jones,M,0423 Kirby Field Suite 623,Wilmette,...,42.0765,-87.7246,27020,Trade mark attorney,1986-07-23,37036442d3c9cf52d388ec709ab739d3,1382810331,41.400510,-87.395624,0
12182,2020-06-25 04:42:54,180036456789979,"fraud_Christiansen, Goyette and Schamberger",gas_transport,42.99,Mackenzie,Salazar,F,982 Melissa Lock,Bagley,...,42.9207,-91.0685,878,Risk analyst,1974-11-20,e3847de54bd30f656b96b280af6d1e7f,1372135374,43.620667,-92.028420,0

In [3]:
test_df.isnull().any()

trans_date_trans_time    False
cc_num                   False
merchant                 False
category                 False
amt                      False
first                    False
last                     False
gender                   False
street                   False
city                     False
state                    False
zip                      False
lat                      False
long                     False
city_pop                 False
job                      False
dob                      False
trans_num                False
unix_time                False
merch_lat                False
merch_long               False
is_fraud                 False
dtype: bool

In [4]:
test_df.duplicated().sum()

0

In [5]:
col = ["cc_num", "merchant", "first", "last", "street", "city", "state", "zip", "lat", "long", "job", "trans_num", "unix_time", "merch_lat", "merch_long"]
df = test_df.drop(col, axis=1)
df.sample(5)

,trans_date_trans_time,category,amt,gender,city_pop,dob,is_fraud
Unnamed: 0,,,,,,,
106826,2020-07-28 07:33:23,misc_net,11.28,M,1506,1960-04-03,0
94386,2020-07-24 06:28:53,misc_net,18.59,M,626,1960-12-13,0
133927,2020-08-07 05:56:22,shopping_pos,3.13,F,3805,1950-09-15,0
204409,2020-08-31 22:49:05,misc_pos,18.60,F,5950,1971-07-02,0
481402,2020-12-15 08:01:45,gas_transport,64.20,F,2263,1984-09-13,0

In [6]:
df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'])
df['dob'] = pd.to_datetime(df['dob'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 555719 entries, 0 to 555718
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  555719 non-null  datetime64[ns]
 1   category               555719 non-null  object
 2   amt                    555719 non-null  float64
 3   gender                 555719 non-null  object
 4   city_pop               555719 non-null  int64
 5   dob                    555719 non-null  datetime64[ns]
 6   is_fraud               555719 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(2), object(2)
memory usage: 33.9+ MB

In [7]:
df['trans_date'] = df['trans_date_trans_time'].dt.date
df['trans_time'] = df['trans_date_trans_time'].dt.time
df['trans_hr'] = df['trans_date_trans_time'].dt.hour
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 555719 entries, 0 to 555718
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  555719 non-null  datetime64[ns]
 1   category               555719 non-null  object
 2   amt                    555719 non-null  float64
 3   gender                 555719 non-null  object
 4   city_pop               555719 non-null  int64
 5   dob                    555719 non-null  datetime64[ns]
 6   is_fraud               555719 non-null  int64
 7   trans_date             555719 non-null  object
 8   trans_time             555719 non-null  object
 9   trans_hr               555719 non-null  int32
dtypes: datetime64[ns](2), float64(1), int32(1), int64(2), object(4)
memory usage: 44.5+ MB

In [8]:
def time_of_day(data: int) -> object:
    if 0 <= data['trans_hr'] <= 6:
        val = 'night'
    elif 22 <= data['trans_hr'] < 24:
        val = 'night'
    elif 6 <= data['trans_hr']  <= 12:
        val = 'morning'
    elif 12 <= data['trans_hr']  <= 16:
        val = 'afternoon'
    else :
        val = 'evening'
    return val

In [9]:
df['time_of_day'] = df.apply(time_of_day, axis=1)
df.sample(5)

,trans_date_trans_time,category,amt,gender,city_pop,dob,is_fraud,trans_date,trans_time,trans_hr,time_of_day
Unnamed: 0,,,,,,,,,,,
123717,2020-08-03 14:31:14,home,24.16,M,192805,1963-06-30,0,2020-08-03,14:31:14,14,afternoon
315392,2020-10-19 09:52:18,shopping_net,1.32,F,642,1946-08-30,0,2020-10-19,09:52:18,9,morning
61229,2020-07-12 18:34:40,food_dining,3.38,M,272,2001-07-05,0,2020-07-12,18:34:40,18,evening
275193,2020-10-01 15:42:05,shopping_net,7.36,F,743,1972-05-04,0,2020-10-01,15:42:05,15,afternoon
226916,2020-09-10 13:43:31,entertainment,87.93,M,2457,1981-03-04,0,2020-09-10,13:43:31,13,afternoon

In [10]:
def age_category(yr: int) -> object:
    if 0< (2024 - yr['birth_year']) <= 15:
        val = 'adult'
    elif 15 < (2024 - yr['birth_year']) <=  29:
        val = 'youth'
    elif 29 < (2024 - yr['birth_year']) <= 59:
        val = 'middle-aged'
    else:
        val = 'old'
    return val

In [11]:
df['birth_year'] = df['dob'].dt.year

In [12]:
df['Age'] = df.apply(age_category, axis=1)
df.sample(5)

,trans_date_trans_time,category,amt,gender,city_pop,dob,is_fraud,trans_date,trans_time,trans_hr,time_of_day,birth_year,Age
Unnamed: 0,,,,,,,,,,,,,
419178,2020-12-01 13:56:10,home,89.05,M,3684,1976-01-10,0,2020-12-01,13:56:10,13,afternoon,1976,middle-aged
266161,2020-09-27 22:00:22,shopping_pos,244.23,F,3688,1987-10-26,0,2020-09-27,22:00:22,22,night,1987,middle-aged
32190,2020-07-02 04:00:44,shopping_pos,3.35,M,2443,1941-10-16,0,2020-07-02,04:00:44,4,night,1941,old
324539,2020-10-23 11:36:51,grocery_net,44.44,F,105638,1986-05-07,0,2020-10-23,11:36:51,11,morning,1986,middle-aged
131055,2020-08-05 20:29:00,travel,4.11,M,798,1926-06-26,0,2020-08-05,20:29:00,20,evening,1926,old

In [13]:
df = df.drop(["trans_date_trans_time", "dob", "trans_hr", "birth_year"], axis=1)
df.sample(5)

,category,amt,gender,city_pop,is_fraud,trans_date,trans_time,time_of_day,Age
Unnamed: 0,,,,,,,,,
294132,shopping_net,34.52,F,969,0,2020-10-10,06:13:35,night,old
369562,shopping_pos,9.69,F,213,0,2020-11-11,15:51:49,afternoon,middle-aged
302512,shopping_pos,131.09,M,632,0,2020-10-13,09:31:46,morning,middle-aged
347899,home,109.43,F,92043,0,2020-11-02,14:40:22,afternoon,old
403480,grocery_net,84.26,F,34882,0,2020-11-27,02:23:26,night,middle-aged

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 555719 entries, 0 to 555718
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   category     555719 non-null  object
 1   amt          555719 non-null  float64
 2   gender       555719 non-null  object
 3   city_pop     555719 non-null  int64
 4   is_fraud     555719 non-null  int64
 5   trans_date   555719 non-null  object
 6   trans_time   555719 non-null  object
 7   time_of_day  555719 non-null  object
 8   Age          555719 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 42.4+ MB

In [15]:
from sklearn.preprocessing import LabelEncoder
categorical_columns = df.select_dtypes(include=["object"])

le = LabelEncoder()

for col in categorical_columns:
    df[col] = le.fit_transform(df[col])
    # print("Label Encoder Class : ", le.classes_)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 555719 entries, 0 to 555718
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   category     555719 non-null  int32
 1   amt          555719 non-null  float64
 2   gender       555719 non-null  int32
 3   city_pop     555719 non-null  int64
 4   is_fraud     555719 non-null  int64
 5   trans_date   555719 non-null  int32
 6   trans_time   555719 non-null  int32
 7   time_of_day  555719 non-null  int32
 8   Age          555719 non-null  int32
dtypes: float64(1), int32(6), int64(2)
memory usage: 29.7 MB

In [17]:
# Make Balanced Dataset 

# need to resize it 
from sklearn.utils import resample

# majority 
major_class = df[df['is_fraud'] == 0]
# minority 
minor_class = df[df['is_fraud'] == 1]

# down sample majority class 
majority_downsampled = resample(major_class, replace=False, n_samples=minor_class.shape[0], random_state=36)

df = pd.concat([majority_downsampled, minor_class])

df.shape

(4290, 9)

In [18]:
df.to_csv('Dataset/balance_test.csv', index=True, header=True)